name: iOS Build

on:
  push:
    branches: [ main ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: CocoaPods install
        working-directory: ios
        run: |
          sudo gem install cocoapods -N
          pod repo update
          pod install

      - name: Build iOS
        run: flutter build ios --release

      - name: Upload iOS build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/ios/iphoneos
